footer {
    max-width: 1440px;
    height: 428px;
    margin: 0 auto;
}

.open-sans-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.black-font {
    color: #252432;
}

.ash-font {
    color: #8987A1;
}

.white-font {
    color: #FFFFFF;
}

.blue-font {
    color: #4E47FF;
}

.footer-header {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
}

.footer-middle {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button {
    border-radius: 5px;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 10px;
    border: none;

}

input[type="email"],
[type="text"] {
    padding: 20px 100px 20px 32px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.textarea {
    padding: 20px 100px 20px 32px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.touch-form {
    display: flex;
    gap: 60px;
    max-width: 1140px;
    height: 632px;
    margin: 0 auto;
    padding: 20px 0px 0px 20px;
}

form label {
    font-weight: bold;
}
.bg-color{
  background-color: rgb(239, 245, 245);
}